/* CSS declarations go here */
#map {
	width: 800px;
	height: 800px;
	position: relative;
}

.cell{
	width: 20px;
	height: 20px;
	font-size: 8px;
	box-sizing: border-box;
	border: 1px solid black;
	position: absolute;
}